﻿<!DOCTYPE html>
<html>
<head>
    <!-- <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CouponProject</title>

    @*<environment include="Development">
            <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        </environment>
        <environment exclude="Development">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css"
                  asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
                  asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"
                  crossorigin="anonymous"
                  integrity="sha256-eSi1q2PG6J7g7ib17yAaWMcrr5GrtohYChqibrV7PBE="/>
        </environment>*@
    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    </environment>
    <environment include="Production">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    </environment>
    <link rel="stylesheet" href="~/css/site.css" /> -->





    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>React app</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
      <!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame -->
      <!--[if IE ]>
      <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
      <![endif]-->
      <link rel="profile" href="http://gmpg.org/xfn/11">
      <link rel="icon" href="https://demo.mythemeshop.com/coupon/files/2016/12/favicon.png" type="image/x-icon">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="apple-mobile-web-app-capable" content="yes">
      <meta name="apple-mobile-web-app-status-bar-style" content="black">
      <link rel="pingback" href="https://demo.mythemeshop.com/coupon/xmlrpc.php">
      <title>Coupon – Coupon WordPress Theme</title>
      <meta name="robots" content="noindex,follow">
      <script type="text/javascript">document.documentElement.className = document.documentElement.className.replace( /\bno-js\b/,'js' );</script>
      <link rel="alternate" type="application/rss+xml" title="Coupon » Feed" href="https://demo.mythemeshop.com/coupon/feed/">
      <link rel="alternate" type="application/rss+xml" title="Coupon » Comments Feed" href="https://demo.mythemeshop.com/coupon/comments/feed/">
      <link rel="stylesheet" id="fontawesome-css" href="~/static/css/font-awesome.min.css" type="text/css" media="all">
      <link rel="stylesheet" id="wpmm-css" href="~/static/css/wpmm.css" type="text/css" media="all">
      <link rel="stylesheet" id="wp-block-library-css" href="~/static/css/style.min.css" type="text/css" media="all">
      <style id="woocommerce-inline-inline-css" type="text/css">
         .woocommerce form .form-row .required { visibility: visible; }
      </style>
      <link rel="stylesheet" id="magnificPopup-css" href="~/static/css/magnific-popup.css" type="text/css" media="all">
      <link rel="stylesheet" id="wp_review-style-css" href="~/static/css/wp-review.css" type="text/css" media="all">
      <link rel="stylesheet" id="coupon-stylesheet-css" href="~/static/css/style.css" type="text/css" media="all">
      <style id="coupon-stylesheet-inline-css" type="text/css">
         body {background-color:#ffffff;background-image:url(https://demo.mythemeshop.com/coupon/wp-content/themes/mts_coupon/images/nobg.png);}
         .promote {background-color:#28202e;background-image:url(https://demo.mythemeshop.com/coupon/wp-content/themes/mts_coupon/images/nobg.png);}
         .signup {background-color:#ffffff;background-image:url(https://demo.mythemeshop.com/coupon/wp-content/themes/mts_coupon/images/nobg.png);}
         section#slider {background-color:#28202e;background-image:url(https://demo.mythemeshop.com/coupon/wp-content/themes/mts_coupon/images/nobg.png);}
         section#tabs {background-color:#ffffff;background-image:url(https://demo.mythemeshop.com/coupon/wp-content/themes/mts_coupon/images/nobg.png);}
         #header {background-color:#28202e;background-image:url(https://demo.mythemeshop.com/coupon/wp-content/themes/mts_coupon/images/nobg.png);}
         #primary-navigation, .navigation ul ul li, .navigation.mobile-menu-wrapper {background-color:#f2f2f2;background-image:url(https://demo.mythemeshop.com/coupon/wp-content/themes/mts_coupon/images/nobg.png);}
         .subscribe-container {background-color:#28202e;background-image:url(https://demo.mythemeshop.com/coupon/wp-content/themes/mts_coupon/images/nobg.png);}
         #site-footer {background-color:#28202e;background-image:url(https://demo.mythemeshop.com/coupon/wp-content/themes/mts_coupon/images/nobg.png);}
         .copyrights {background-color:#1d1721;background-image:url(https://demo.mythemeshop.com/coupon/wp-content/themes/mts_coupon/images/nobg.png);}
         .copyrights a, .single_post a:not(.wp-block-button__link):not(.wp-block-file__button), #site-footer .textwidget a, .textwidget a, .pnavigation2 a, #sidebar a:hover, .copyrights a:hover, #site-footer .widget li a:hover, #site-footer .widget li:hover > a, .widget li:hover > .toggle-caret, #sidebar .widget li:hover > a, #sidebar .widget_categories li > a:hover, .related-posts a:hover, .title a:hover, .post-info a:hover, .comm, #tabber .inside li a:hover, .readMore a:hover, .fn a, a, a:hover, .article .featured-category-title a:hover, .latestPost .title a:hover, .related-posts .latestPost .title a:hover, #header .header-login a:hover, .coupon-carousel.owl-carousel .owl-item-carousel:hover:after, .latestPost .post-info .thetime .day, .widget .coupon-featuredtext, .coupon_extra_rewards, .color, .featured-category-title span, .total-comments span, .footer-widgets .widget_archive li:hover:before, .footer-widgets .widget_categories li:hover:before, .footer-widgets .widget_pages li:hover:before, .footer-widgets .widget_meta li:hover:before, .footer-widgets .widget_recent_comments li:hover:before, .footer-widgets .widget_recent_entries li:hover:before, .footer-widgets .widget_nav_menu li:hover:before { color:#e73931; }
         .pace .pace-progress, #mobile-menu-wrapper ul li a:hover, .ball-pulse > div, .navigation ul li:hover > a:before, .navigation ul .current-menu-item > a:before, .owl-prev, .owl-next, #move-to-top, .signup-button a, .postauthor .author-posts, #commentform input#submit, .contact-form input[type="submit"], .deal-button, .deal-button.show-coupon-button, .widget-button, .coupon_deal_URL, .woocommerce-product-search input[type='submit'], input[type='submit'], .woocommerce nav.woocommerce-pagination ul li span.current, .woocommerce-page nav.woocommerce-pagination ul li span.current, .woocommerce #content nav.woocommerce-pagination ul li span.current, .woocommerce-page #content nav.woocommerce-pagination ul li span.current, .woocommerce nav.woocommerce-pagination ul li a:hover, .woocommerce-page nav.woocommerce-pagination ul li a:hover, .woocommerce #content nav.woocommerce-pagination ul li a:hover, .woocommerce-page #content nav.woocommerce-pagination ul li a:hover, .woocommerce nav.woocommerce-pagination ul li a:focus, .woocommerce-page nav.woocommerce-pagination ul li a:focus, .woocommerce #content nav.woocommerce-pagination ul li a:focus, .woocommerce-page #content nav.woocommerce-pagination ul li a:focus, .pagination  .nav-previous a:hover, .pagination .nav-next a:hover, .currenttext, .pagination a:hover, .single .pagination a:hover .currenttext, .page-numbers.current, .woocommerce #respond input#submit.alt, .woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt, .reply a, #sidebar .wpt_widget_content #tags-tab-content ul li a:hover, #commentform input#submit, .contactform #submit, #searchform .fa-search, #tabber ul.tabs li a.selected, .tagcloud a:hover, .navigation ul .sfHover a, .woocommerce a.button, .woocommerce-page a.button, .woocommerce button.button, .woocommerce-page button.button, .woocommerce input.button, .woocommerce-page input.button, .woocommerce #respond input#submit, .woocommerce-page #respond input#submit, .woocommerce #content input.button, .woocommerce-page #content input.button, .woocommerce .bypostauthor:after, #searchsubmit, .woocommerce nav.woocommerce-pagination ul li a:hover, .woocommerce-page nav.woocommerce-pagination ul li a:hover, .woocommerce #content nav.woocommerce-pagination ul li a:hover, .woocommerce-page #content nav.woocommerce-pagination ul li a:hover, .woocommerce nav.woocommerce-pagination ul li a:focus, .woocommerce-page nav.woocommerce-pagination ul li a:focus, .woocommerce #content nav.woocommerce-pagination ul li a:focus, .woocommerce-page #content nav.woocommerce-pagination ul li a:focus, .woocommerce a.button, .woocommerce-page a.button, .woocommerce button.button, .woocommerce-page button.button, .woocommerce input.button, .woocommerce-page input.button, .woocommerce #respond input#submit, .woocommerce-page #respond input#submit, .woocommerce #content input.button, .woocommerce-page #content input.button, .footer-widgets .wpt_widget_content .tab_title.selected a, .footer-widgets .wp_review_tab_widget_content .tab_title.selected a, .woocommerce-account .woocommerce-MyAccount-navigation li.is-active, .woocommerce-product-search button[type='submit'], .woocommerce .woocommerce-widget-layered-nav-dropdown__submit { background-color:#e73931; color: #fff!important; }
         .wpmm-megamenu-showing.wpmm-light-scheme, .subscribe-container #wp-subscribe input.submit { background-color:#e73931!important; }
         .coupon-carousel.owl-carousel .owl-item-carousel[class*='count-']:hover, #slider-nav .slider-nav-item.active, .tabs-container .tabs-menu li.current, .tab-post:hover .dashed-button, .coupon-related-post:hover .dashed-button, .dashed-button:hover, .coupon-featured:hover, .woocommerce nav.woocommerce-pagination ul li span.current, .woocommerce-page nav.woocommerce-pagination ul li span.current, .woocommerce #content nav.woocommerce-pagination ul li span.current, .woocommerce-page #content nav.woocommerce-pagination ul li span.current, .woocommerce nav.woocommerce-pagination ul li a:hover, .woocommerce-page nav.woocommerce-pagination ul li a:hover, .woocommerce #content nav.woocommerce-pagination ul li a:hover, .woocommerce-page #content nav.woocommerce-pagination ul li a:hover, .woocommerce nav.woocommerce-pagination ul li a:focus, .woocommerce-page nav.woocommerce-pagination ul li a:focus, .woocommerce #content nav.woocommerce-pagination ul li a:focus, .woocommerce-page #content nav.woocommerce-pagination ul li a:focus, .pagination  .nav-previous a:hover, .pagination .nav-next a:hover, .pagination a:hover, .currenttext, .pagination a:hover, .single .pagination a:hover .currenttext, .page-numbers.current, input[type='submit'] { border-color:#e73931; }
         .signup .signup-title { color:#33244a; }
         .deal-button.show-coupon-button { border-color: #c41e17!important; }
         .code-button-bg { background: #a41913; }
         .shareit { top: 282px; right: auto; width: 90px; position: fixed; padding: 5px; border:none; border-right: 0; margin: 0 0 0 875px; } .share-item {margin: 2px;} .ss-full-width .shareit { margin: 0 0 0 1190px; }
         .comment.bypostauthor > .comment-list .fn:after { content: "Author"; padding: 1px 10px; background: #28202e; color: #FFF; margin: 0 5px; }
         .promote-social a.promote-facebook:hover { background:#5d82d1; border-color:#5d82d1;} .promote-social a.promote-twitter:hover { background:#40bff5; border-color:#40bff5;} .promote-social a.promote-google-plus:hover { background:#eb5e4c; border-color:#eb5e4c;} .promote-social a.promote-instagram:hover { background:#91653f; border-color:#91653f;} .promote-social a.promote-pinterest-p:hover { background:#e13138; border-color:#e13138;} .promote-social a.promote-rss:hover { background:#ef922f; border-color:#ef922f;} .footer-social a.footer-facebook:hover { background:#5d82d1; border-color:#5d82d1;} .footer-social a.footer-twitter:hover { background:#40bff5; border-color:#40bff5;} .footer-social a.footer-google-plus:hover { background:#eb5e4c; border-color:#eb5e4c;} .footer-social a.footer-instagram:hover { background:#91653f; border-color:#91653f;} .footer-social a.footer-pinterest-p:hover { background:#e13138; border-color:#e13138;} .footer-social a.footer-rss:hover { background:#ef922f; border-color:#ef922f;} 
         .popular-store li.popular-cat-1 .cat-img{ background: url(https://demo.mythemeshop.com/coupon/files/2016/12/Amazon-Logo.png) no-repeat center center; background-size: contain; } .popular-store li.popular-cat-1:hover .cat-caption { background:rgba( 244,164,24 , 0.8)} .popular-store li.popular-cat-1:hover { border-color: #f4a418}.popular-store li.popular-cat-1 { border-color: #d5d1d8}.popular-store li.popular-cat-2 .cat-img{ background: url(https://demo.mythemeshop.com/coupon/files/2016/12/ebay-logo.png) no-repeat center center; background-size: contain; } .popular-store li.popular-cat-2:hover .cat-caption { background:rgba( 30,115,190 , 0.8)} .popular-store li.popular-cat-2:hover { border-color: #1e73be}.popular-store li.popular-cat-2 { border-color: #d5d1d8}.popular-store li.popular-cat-3 .cat-img{ background: url(https://demo.mythemeshop.com/coupon/files/2016/12/Traetelo-Logo.png) no-repeat center center; background-size: contain; } .popular-store li.popular-cat-3:hover .cat-caption { background:rgba( 229,117,52 , 0.8)} .popular-store li.popular-cat-3:hover { border-color: #e57534}.popular-store li.popular-cat-3 { border-color: #d5d1d8}.popular-store li.popular-cat-4 .cat-img{ background: url(https://demo.mythemeshop.com/coupon/files/2016/12/Sally-Logo.png) no-repeat center center; background-size: contain; } .popular-store li.popular-cat-4:hover .cat-caption { background:rgba( 237,54,139 , 0.8)} .popular-store li.popular-cat-4:hover { border-color: #ed368b}.popular-store li.popular-cat-4 { border-color: #d5d1d8}.popular-store li.popular-cat-5 .cat-img{ background: url(https://demo.mythemeshop.com/coupon/files/2016/12/MyThemeShop-Logo.png) no-repeat center center; background-size: contain; } .popular-store li.popular-cat-5:hover .cat-caption { background:rgba( 35,181,234 , 0.8)} .popular-store li.popular-cat-5:hover { border-color: #23b5ea}.popular-store li.popular-cat-5 { border-color: #d5d1d8}.popular-store li.popular-cat-6 .cat-img{ background: url(https://demo.mythemeshop.com/coupon/files/2016/12/E-Commerce-Nation-Logo.png) no-repeat center center; background-size: contain; } .popular-store li.popular-cat-6:hover .cat-caption { background:rgba( 0,170,232 , 0.8)} .popular-store li.popular-cat-6:hover { border-color: #00aae8}.popular-store li.popular-cat-6 { border-color: #d5d1d8}.popular-store li.popular-cat-7 .cat-img{ background: url(https://demo.mythemeshop.com/coupon/files/2016/12/Perry-Ellis-Logo.png) no-repeat center center; background-size: contain; } .popular-store li.popular-cat-7:hover .cat-caption { background:rgba( 0,0,0 , 0.8)} .popular-store li.popular-cat-7:hover { border-color: #000000}.popular-store li.popular-cat-7 { border-color: #d5d1d8}.popular-store li.popular-cat-8 .cat-img{ background: url(https://demo.mythemeshop.com/coupon/files/2016/12/Seamless-Logo.png) no-repeat center center; background-size: contain; } .popular-store li.popular-cat-8:hover .cat-caption { background:rgba( 239,55,116 , 0.8)} .popular-store li.popular-cat-8:hover { border-color: #ef3774}.popular-store li.popular-cat-8 { border-color: #d5d1d8}.popular-store li.popular-cat-9 .cat-img{ background: url(https://demo.mythemeshop.com/coupon/files/2016/12/shopify-logo.png) no-repeat center center; background-size: contain; } .popular-store li.popular-cat-9:hover .cat-caption { background:rgba( 139,196,60 , 0.8)} .popular-store li.popular-cat-9:hover { border-color: #8bc43c}.popular-store li.popular-cat-9 { border-color: #d5d1d8}.popular-store li.popular-cat-10 .cat-img{ background: url(https://demo.mythemeshop.com/coupon/files/2016/12/Clinique-Logo.png) no-repeat center center; background-size: contain; } .popular-store li.popular-cat-10:hover .cat-caption { background:rgba( 73,73,73 , 0.8)} .popular-store li.popular-cat-10:hover { border-color: #494949}.popular-store li.popular-cat-10 { border-color: #d5d1d8}.popular-store li.popular-cat-11 .cat-img{ background: url(https://demo.mythemeshop.com/coupon/files/2016/12/JCPenney-Logo.png) no-repeat center center; background-size: contain; } .popular-store li.popular-cat-11:hover .cat-caption { background:rgba( 226,13,84 , 0.8)} .popular-store li.popular-cat-11:hover { border-color: #e20d54}.popular-store li.popular-cat-11 { border-color: #d5d1d8}.popular-store li.popular-cat-12 .cat-img{ background: url(https://demo.mythemeshop.com/coupon/files/2016/12/Lush-Logo.png) no-repeat center center; background-size: contain; } .popular-store li.popular-cat-12:hover .cat-caption { background:rgba( 0,0,0 , 0.8)} .popular-store li.popular-cat-12:hover { border-color: #000000}.popular-store li.popular-cat-12 { border-color: #d5d1d8}
         .coupon-carousel.owl-carousel .owl-item-carousel.count-1 { border-color:#d5d1d8; background:#ffffff;} .coupon-carousel.owl-carousel .owl-item-carousel.count-1 .slide-title { color:#33244a;} .coupon-carousel.owl-carousel .owl-item-carousel:after{ color: #d5d1d8}.coupon-carousel.owl-carousel .owl-item-carousel.count-2 { border-color:#d5d1d8; background:#ffffff;} .coupon-carousel.owl-carousel .owl-item-carousel.count-2 .slide-title { color:#33244a;} .coupon-carousel.owl-carousel .owl-item-carousel:after{ color: #d5d1d8}.coupon-carousel.owl-carousel .owl-item-carousel.count-3 { border-color:; background:;} .coupon-carousel.owl-carousel .owl-item-carousel.count-3 .slide-title { color:;} .coupon-carousel.owl-carousel .owl-item-carousel:after{ color: }.coupon-carousel.owl-carousel .owl-item-carousel.count-4 { border-color:#d5d1d8; background:#ffffff;} .coupon-carousel.owl-carousel .owl-item-carousel.count-4 .slide-title { color:#33244a;} .coupon-carousel.owl-carousel .owl-item-carousel:after{ color: #d5d1d8}.coupon-carousel.owl-carousel .owl-item-carousel.count-5 { border-color:#d5d1d8; background:#ffffff;} .coupon-carousel.owl-carousel .owl-item-carousel.count-5 .slide-title { color:#33244a;} .coupon-carousel.owl-carousel .owl-item-carousel:after{ color: #d5d1d8}.coupon-carousel.owl-carousel .owl-item-carousel.count-6 { border-color:#d5d1d8; background:#ffffff;} .coupon-carousel.owl-carousel .owl-item-carousel.count-6 .slide-title { color:#33244a;} .coupon-carousel.owl-carousel .owl-item-carousel:after{ color: #d5d1d8}
      </style>
      <link rel="stylesheet" id="owl-carousel-css" href="~/static/css/owl.carousel.css" type="text/css" media="all">
      <link rel="stylesheet" id="responsive-css" href="~/static/css/responsive.css" type="text/css" media="all">
      <script type="text/javascript" src="~/static/js/jquery.js"></script>
      <script type="text/javascript" src="~/static/js/jquery-migrate.min.js"></script>
      <link rel="https://api.w.org/" href="https://demo.mythemeshop.com/coupon/wp-json/">
      <link rel="EditURI" type="application/rsd+xml" title="RSD" href="https://demo.mythemeshop.com/coupon/xmlrpc.php?rsd">
      <link rel="wlwmanifest" type="application/wlwmanifest+xml" href="https://demo.mythemeshop.com/coupon/wp-includes/wlwmanifest.xml">
      <link href="~/static/css/css" rel="stylesheet" type="text/css">
      <style type="text/css">
         .text-logo a { font-family: 'Rubik'; font-weight: normal; font-size: 24px; color: #ffffff; }
         .menu li, .menu li a { font-family: 'Rubik'; font-weight: normal; font-size: 14px; color: #33244a;text-transform: uppercase; }
         .featured-category-title { font-family: 'Rubik'; font-weight: normal; font-size: 30px; color: #33244a; }
         .latestPost .title a { font-family: 'Rubik'; font-weight: normal; font-size: 24px; color: #33244a; }
         .single-title, .related-posts h4, #respond h4, .total-comments, .postauthor h4, .coupon-related-posts h4 { font-family: 'Rubik'; font-weight: normal; font-size: 30px; color: #33244a; }
         body { font-family: 'Rubik'; font-weight: normal; font-size: 14px; color: #33244a; }
         .widget h3 { font-family: 'Rubik'; font-weight: normal; font-size: 18px; color: #28202e;text-transform: uppercase; }
         #sidebar .widget { font-family: 'Rubik'; font-weight: normal; font-size: 14px; color: #33244a; }
         #sidebar .post-title, .related-posts .latestPost .title a, #sidebar .entry-title a { font-family: 'Rubik'; font-weight: normal; font-size: 16px; color: #33244a; }
         .footer-widgets h3, .footer-widgets h3 a { font-family: 'Rubik'; font-weight: normal; font-size: 18px; color: #e0dfe0; }
         .footer-widgets, .footer-widgets a, .footer-widgets .widget_nav_menu a, .footer-widgets .wpt_widget_content a, .footer-widgets .wp_review_tab_widget_content a, #copyright-note, #site-footer .entry-title a, #site-footer .merchant-rewards { font-family: 'Rubik'; font-weight: normal; font-size: 14px; color: #aba9ac; }
         h1 { font-family: 'Rubik'; font-weight: normal; font-size: 36px; color: #33244a; }
         h2 { font-family: 'Rubik'; font-weight: normal; font-size: 30px; color: #33244a; }
         h3 { font-family: 'Rubik'; font-weight: normal; font-size: 28px; color: #33244a; }
         h4 { font-family: 'Rubik'; font-weight: normal; font-size: 26px; color: #33244a; }
         h5 { font-family: 'Rubik'; font-weight: normal; font-size: 24px; color: #33244a; }
         h6 { font-family: 'Rubik'; font-weight: normal; font-size: 22px; color: #33244a; }
      </style>
      <noscript>
         <style>.woocommerce-product-gallery{ opacity: 1 !important; }</style>
      </noscript>
</head>
<body>
    <div class="main-container">
        <partial name="_CookieConsentPartial" />
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=">
        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha256-E/V4cWE4qvAeO5MOhjtGtqDzPndRO1LBk8lJ/PR7CA4=">
        </script>
    </environment>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/dist/main.js" asp-append-version="true"></script>
    <script src="~/dist/css/site.css" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
