/*-[ Header ]-----------------------*/
header {
	float: left;
	width: 100%;
	position: relative;
}
#site-header {
	position: relative;
	float: left;
	width: 100%;
	z-index: 99;
}
#header {
	position: relative;
	width: 100%;
	min-height: 60px;
	margin: 0;
	padding: 0;
    background: #28202e;
    h1, h2 {
        float: left;
        line-height: 1;
        position: relative;
        margin-bottom: 0;
    }
}
#logo a {
	float: left;
	line-height: 1;
}
#logo img { float: left }
.logo-wrap {
	margin: 16px 0 0 0;
	overflow: hidden;
	float: left;
}
.site-description:before {
	content: '';
	width: 1px;
	height: 27px;
	background: rgba(255, 255, 255, 0.3);
	position: absolute;
	left: -18px;
}
.site-description {
	margin-left: 35px;
	max-width: 250px;
	float: left;
	color: rgba(255, 255, 255, 0.5);
	line-height: 26px;
	margin-bottom: 10px;
	position: relative;
}
#header {
    .header-search {
        float: right;
        margin-top: 11px;
    }
    #searchform {
        max-width: 100%;
        float: right;
        width: auto;
        min-width: 449px;
    }
    #s {
        margin: 0 !important;
        width: 100%;
        height: 38px;
        text-indent: 14px;
        box-sizing: border-box;
        border: none;
    }
    .header-login {
        float: right;
        background: rgba(0, 0, 0, 0.3);
        min-width: 200px;
        text-align: center;
        margin-left: 36px;

        a {
            color: #ffffff;
            text-transform: uppercase;
        }
        li {
            display: inline-block;
            padding: 20px 16px 17px 16px;
        }
    }
}

.widget-header {
	width: 100%;
	text-align: center;
	display: inline-block;
    margin-top: 35px;
    .textwidget {
        float: none;
        max-width: 1180px;
        margin: 0 auto;
        padding: 0 20px;
        box-sizing: border-box;
    }
    .adcode-widget {
        width: 300px;
        height: 250px;
        overflow: hidden;
        margin: 0 auto;
    }
}

.ad-728 img { margin-bottom: -6px }
#homepage, #inner { clear: both }