@font-face {
    font-family: 'Roboto';
    font-weight: 400;
    src: url('../../assets/fonts/roboto-regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto';
    font-weight: 500;
    src: url('../../assets/fonts/roboto-medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto';
    font-weight: bold;
    src: url('../../assets/fonts/roboto-bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto';
    font-style: italic;
    src: url('../../assets/fonts/roboto-italic.ttf') format('truetype');
}

* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    text-transform: none;
    letter-spacing: normal;
    color: #474747;
    line-height: 18px;
    font-size: 14px;
    background: #F4F6F8;
    -webkit-overflow-scrolling: touch;
}

a {
    color: #0279C7;
}

a:hover, a:focus, a:active {
    outline: none;
    text-decoration: none;
}

p {
    white-space: normal;
}

b {
    font-weight: 500;
}

strong {
    font-weight: bold;
}

label {
    font-weight: 500;
    display: block;
}

img {
    max-width: 100%;
}

ul {
    margin: 0;
}

li {
    list-style-type: none;
}

/*** Layout ***/

#react-app, .ui-body {
    margin: 0 auto;
    height: 100%;
    width: 100%;
}

/*** Layout ***/

#react-app, .ui-body {
    margin: 0 auto;
    height: 100%;
    width: 100%;
}

.main-content {
    padding: 0 0 0 240px;
    white-space: nowrap;
}

.main-content .outer:before, .main-content .outer:after {
    content: "";
    display: table;
}

.main-content .outer .inner {
    position: relative;
    min-height: 1px;
}

/*** End Layout ***/